body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.logo {
    margin: 0 auto 2rem;
    display: block;
    max-height: 14vh;
}

.header .login-button,
.header .logout-button {
    float: right;
}

.header .avatar {
    height: 36px;
    width: 36px;
    border-radius: .5rem;
    float: right;
    background-size: contain;
}

.my-links {
    padding: 2rem;
}
.my-links-header {
    text-align: center;
}
.my-link {
    border: 4px solid #e25a5a;
    color: #e25a5a;
    padding: 1rem;
    margin: 1rem auto 0;
    font-size: 1.75rem;
    cursor: pointer;
    max-width: 44vw;
}

.my-link .subtitle {
    font-size: .9rem;
}

.add-new-item {
    padding: 2rem;
    border: 1px solid #ccc;
    margin: 1rem 0;
}

.action-button {
    display: block;
    clear: both;
    text-align: right;
}

.form-element {
    margin: .5rem 0;
    width: 50%;
}

.form-element > label {
    width: 10vw;
    margin-right: 1rem;
}

.prefs-preview {
    border: 1px solid #222;
    margin-top: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.prefs-preview .avatar {
    width: 120px;
    height: 120px;
}
